@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

html {
    background-color: #f6f6f6;
}

body {
    font-family: "Montserrat";
    color: #000000;
    background-color: #f6f6f6;
}
